.friend-list-wrapper {
    padding: 2em;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.searchbar {
    padding: 0.5em;
    padding-block: 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;

    border-radius: 100pt;
    overflow: hidden;

    border:1px solid lightgray;
    box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.2);
}

.searchbar input {
    padding-inline: 1.5em;
    box-sizing: border-box;

    height: 100%;

    border: none;
    background-color: transparent;
}

.searchbar input:focus {
    border: none;
    outline: none;
}

.friend-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.friend {
    width: 200px;

    border-radius: 100pt;
    border:1px solid lightgray;
    box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.2);

    transition: 300ms;
}

.friend:hover {
    background-color: rgb(226, 239, 243);
}

.filter-select {
    padding: 0.5em;
    box-sizing: border-box;

    border: none;
    border-radius: 100pt;
}

.filter-select:focus {
    border: none;
}

.filter-select:active {
    border: none;
}
